<h1>Showing article details</h1>


<div class="card" style="width: 33.33%;">
  <img src="https://images.unsplash.com/photo-1587893076609-9a8b6cdb1062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"><%= @article.description %></p>
     <div class='row'>
       <div class="col-sm">
          <button type="button" class="btn btn-outline-primary">
            <%= link_to 'Edit', edit_article_path(@article)%>
          </button>
       </div>

       <div class="col-sm">
          <button type="button" class="btn btn-outline-danger">
             <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %> 
          </button>
       </div>

       <div class="col-sm">
          <button type="button" class="btn btn-outline-secondary">
            <%= link_to 'Return', articles_path%>
          </button>
       </div>
     </div>
  </div>
</div>


